html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.inicio{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    border: solid black;
}

.frase{
    margin-top: 10px;
}

.logo_empresa{
    text-align: center;
}

.logo{
    width: 80px;
    height: 80px;
}

.botones{
    text-align: center;
    text-align: end;
    margin-right: 20px;
}

.boton{
    margin-top: 20px;
    color: white;
    background-color: black;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}

.boton:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.botones_seleccion{
    text-align: center;
    margin-top: 20px;
}


#carouselExampleCaptions{
    max-width: 500px;
    height: 500px;
    justify-items: center;
}

.promo{
    width: 400px;
    height: 350px;
    margin-top: 80px;
}

.promociones{
    text-align: center;
    justify-items: center;
    grid-template-rows: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(22, 22, 21);
}

.d-block{
    width: 100%;
    height: 100%;
}


.imagenes_mapa{
    width: 50%;
    height: auto;
}

.mapa_google{
    width: 800px;
    height: 250px;
}

.mapa{
    text-align: center;
    justify-items: center;
    margin-top: 20px;
}

.productos{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    display: grid;
    justify-items: center;
}

.card{
    margin-top: 20px;
    max-width: 250px;
    max-height: 500px;
}

.card-text{
    color: #5e6355;
}

.card-img-top{
    max-width: 100%;
    height: 250px;
    justify-items: center;
}

.card:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.titulo_mapa{
    text-align: center;
    margin-top: 20px;
    
}

.informacion{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    text-align: center;
    background-color: rgb(22, 22, 21);
}

.imagen_informacion{
    width: 300px;
    height: 350px;
}

.text{
    border: solid #4D4DFF;
    border-radius: 30px;
    justify-content: center;
    height: auto;
    color: white;
    padding: 0 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
}

.a{
    margin-top: 20px;
    margin-bottom: 20px;
}

.logo_pie{
    width: 70px;
    height: 70px;
    filter: invert(100%);
    margin-bottom: 10px;
}

.pie{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: rgb(22, 22, 21);
    text-align: center;
    margin-top: 50px;
}

.pie_avisos{
    text-decoration: none;
    color: white;
}

ul{
    list-style-type: none;
    color: white;
}

.red{
    width: 50px;
    height: auto;
}

.pie_b{
    margin-top: 10px;
}

.logo-redes{
    margin-bottom: 50px;
}



.titulo-quien{
    color: #4D4DFF;
}

@media (max-width: 768px) {
    .inicio{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    .botones{
        text-align: center;
        margin-bottom: 10px;
    }
    .frase{
        width: 100%;
        text-align: center;
    }
    .promociones{
        grid-template-columns: repeat(1, 1fr);
        display: grid;
    }
    .promo{
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
    .botones_seleccion{
        text-align: center;
        gap: 10px;
    }
    .productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center; 
    }
    .card{
        width: 90%;
        height: 125px;
    }

    .informacion{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .mapa_google{
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
    }

    .pie{
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .inicio{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 10px;
    }

    .botones{
        margin-bottom: 10px;
        grid-column: 1/3;
        justify-items: center;
        text-align: center;
    }

    .logo{
        margin-top: 20px;
    }

    .logo_empresa{
        text-align: start;
        margin-left: 80px;
    }

    .frase{
        text-align: justify;
        margin-right: 50px;
    }

    .promociones{
        grid-template-columns: repeat(3, 1fr);
        display: grid;
        height: 400px;
    }
    .promo{
        width: 150px;
        height: 200px;
    }

    #carouselExampleCaptions{
        align-items: center;
        width: 400px;
    }

    .productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center; 
    }

    .informacion{
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        gap: 20px;
    }

    .text{
        margin-bottom: 20px;
    }
}